<section class="bloc h-full w-full">
  <div class="overflow-hidden bg-white py-16 sm:py-0 sm:pb-10 sm:pt-20 pt-40">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl flex justify-center">
        Pompe à chaleur Air-Eau : alliez confort et économies !
      </h2>
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div>
          <img src="assets/clim2.png" alt="Product screenshot" class="w-full object-contain md:-ml-4 lg:-ml-0 md:rounded-tl-[10rem] mt-20">
          <div class="text-lg leading-8 text-gray-600 flex justify-center">
            <app-button buttonText="JE REMPLACE MES ÉQUIPEMENTS" width="400px" class="mt-20"></app-button>
          </div>
        </div>
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-2xl text-justify">
            <p class="mt-6 text-lg leading-7 text-gray-600">
              La pompe à chaleur air-eau est la solution la moins chère pour chauffer votre
              foyer en hiver et utiliser votre eau chaude sanitaire tout au long de l’année.
              Combiné à un chauffe-eau thermodynamique, votre facture d’énergie peut
              aller jusqu’à être divisée par 2 !
              Un investissement rentable et écologique.
              Gârce à la pompe à chaleur air-eau vous pourrez :
            </p>
            <dl class="mt-6 max-w-xl space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
              <ul class="mt-6 text-lg leading-8 text-gray-600 pl-12">
                <li class="list-disc mt-6">
                  Bénéficier d’un système de production d’ECS et de chauffage économique
                  qui fonctionne à environ 70% grâce aux énergies renouvelables. De plus, la
                  PAC consomme trois fois moins que ce qu’elle délivre, vous divisez donc vos
                  dépenses de chauffage par 3, et ce, dès l’installation.
                </li>
                <li class="list-disc mt-6">
                  Profiter d’un excellent confort thermique si votre maison est bien isolée et
                  produire l’ECS rapidement à haute température sans payer plus cher !
                </li>
                <li class="list-disc mt-6">
                  Valoriser votre bien immobilier: un logement éco-rénové peut espérer une
                  plus-value de 9 à 12% selon la dernière étude des Notaires de France.
                  L’habitat durable, confortable et économique est désormais une priorité
                  lors d’un achat ou de la location d’un bien qui plus est aux vues des
                  augmentations des tarifs de l’énergie.
                </li>
              </ul>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-article
    title="Chauffe-eau Thermodynamique : divisez votre facture par 5 !"
    content="La production d’eau chaude sanitaire représente en moyenne 15% des dépenses
    énergétiques d’un foyer. Le chauffe-eau thermodynamique est équipé d’une pompe à chaleur intégrée qui consiste à
    capter les calories présentent dans l’air pour les transmettre à l’eau du ballon. Pour 1kwH
    consommé il en produit 3,7 ce qui réduit drastiquement vos consommations d’énergies. CET à haut rendement, quels sont les avantages?
    Il existe des CET encore plus performants,leur coefficient de performance est de 4 voire
    même 5 ce qui signifie que pour 1 kWh d’énergie consommée, ils produisent 4 /5 kWh
    d’énergie pour chauffer l’ECS. Pour un même volume chauffé, vous divisez votre facture par
    4/5. Votre installation est 4/5 fois plus rentable que votre cumulus ou ballon électrique actuel !
    l’équipement chauffe beaucoup plus vite et consomme moins d’énergie."
    textBtn="je me renseigne sur le CET"
    image="assets/chauffe.png"
  ></app-article>
  <!-- <div class="overflow-hidden bg-white py-16 sm:py-0 sm:pb-10 sm:mt-40">
    <div class="mx-auto px-6 lg:px-8">
      <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl flex justify-center">
        Chauffe-eau Thermodynamique : divisez votre facture par 5 !
      </h2>
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <img src="assets/chauffe.png" alt="Product screenshot" class="w-[35rem] object-contain sm:mt-10 lg:mt-20 sm:w-[57rem] md:-ml-4 lg:-ml-0 h-[50rem]" width="2432" height="642">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-2xl text-justify">
            <p class="mt-4 text-lg leading-7 text-gray-600">
              La production d’eau chaude sanitaire représente en moyenne 15% des dépenses
              énergétiques d’un foyer.
            </p>
            <p class="mt-2 text-lg leading-7 text-gray-600">
              Le chauffe-eau thermodynamique est équipé d’une pompe à chaleur intégrée qui consiste à
              capter les calories présentent dans l’air pour les transmettre à l’eau du ballon. Pour 1kwH
              consommé il en produit 3,7 ce qui réduit drastiquement vos consommations d’énergies.
            </p>
            <p class="mt-2 text-lg leading-7 text-gray-600">
              CET à haut rendement, quels sont les avantages?
              Il existe des CET encore plus performants,leur coefficient de performance est de 4 voire
              même 5 ce qui signifie que pour 1 kWh d’énergie consommée, ils produisent 4 /5 kWh
              d’énergie pour chauffer l’ECS. Pour un même volume chauffé, vous divisez votre facture par
              4/5. Votre installation est 4/5 fois plus rentable que votre cumulus ou ballon électrique actuel !
              <span class="font-black">Résultat :</span> l’équipement chauffe beaucoup plus vite et consomme
              moins d’énergie.
            </p>
            <p class="mt-2 text-lg leading-7 text-gray-600">
              Quand remplacer vos équipements par un chauffe-eau thermodynamique ?
            </p>
            <dl class="mt-2 max-w-xl space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
              <ul class="mt-2 text-lg leading-8 text-gray-600 pl-12">
                <li class="list-disc mt-2">
                  Vous voulez immédiatement faire des économies d’énergies.
                </li>
                <li class="list-disc mt-2">
                  Votre appareil actuel a entre 12 et 20 ans : c’est la durée de vie moyenne des anciens
                  équipements. Dans cette période et passé ce délai, son fonctionnement n’est pas optimal.
                </li>
                <li class="list-disc mt-2">
                  Il montre des signes de fatigue.
                </li>
                <li class="list-disc mt-2">
                  Vous l’avez déjà fait réparer au moins une fois.
                </li>
                <li class="list-disc mt-2">
                  Vous mettez longtemps à obtenir la température souhaitée à la sortie des robinets.
                </li>
                <li class="list-disc mt-2">
                  Vous avez vu de la rouille se former : attention, c’est le signe qu'il se fissure et va
                  prochainement fuir.
                </li>
                <li class="list-disc mt-2">
                  Le liquide qui sort des robinets a changé de couleur ? C’est la preuve de la présence de
                  rouille au fond de la cuve. Le système et la résistance électrique ne fonctionnent pas
                  correctement et met votre santé en danger.
                </li>
              </ul>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-xl text-justify">
            <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
              Des aides pour passer au combiné solaire :
            </h2>
            <p class="mt-6 text-lg leading-7 text-gray-600">
              Vous connaissez sûrement le chauffe-eau solaire (CESI), mais avezvous
              déjà entendu parler du système solaire combiné (SSC) ? En plus
              de produire votre eau chaude sanitaire (ECS), ce système vous permet
              de chauffer votre habitation. Le tout, grâce à une énergie verte,
              gratuite et inépuisable : le soleil.
            </p>
            <dl class="mt-6 max-w-xl space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
              <p class="mt-6 text-lg leading-8 text-gray-600">
                Le système solaire combiné se compose d'un panneau solaire
                thermique et d'un ballon de stockage. Le tout est relié au système de
                chauffage central de votre maison.
              </p>
              <ul class="mt-6 text-lg leading-8 text-gray-600 pl-12">
                <li class="list-disc">Les capteurs solaires récupèrent les calories du soleil.</li>
                <li class="list-disc">
                  Les calories sont transmises à un fluide caloporteur et envoyées
                  dans le ballon de stockage.
                </li>
                <li class="list-disc">La chaleur est redistribuée dans toute la maison grâce au réseau
                  de tuyauterie.
                </li>
              </ul>
            </dl>
          </div>
        </div>
        <img src="assets/solaire.png" alt="Product screenshot" class="w-full object-contain mt-10 max-w-none md:rounded-tr-[10rem] md:-ml-4 lg:-ml-0">
      </div>
    </div>
  </div>
  <app-section
    title="PAC Géothermique : peu connu et pourtant plus performant !"
    content="Géo-Thermie, la chaleur de la terre. La terre emmagasine de
    l’énergie. En surface, elle reçoit l’énergie du soleil, de la pluie, du
    vent. Plus en profondeur, la chaleur provient des roches et du
    magma qui forment le noyau terrestre. Il s’agit donc d’une énergie
    gratuite, locale et renouvelable.
    Pour autant, cette énergie n’est pas directement exploitable et
    c’est le rôle de la pompe à chaleur. Son rôle est de permettre une
    élévation de la température entre les deux sources.
    Les performances de la PAC géothermique sont constantes sur
    l’année car la température du sol varie peu. Il n’y a donc pas besoin
    d’une énergie d’appoint contrairement aux PAC air-air ou air-eau
    dont les performances sont plus météo-sensibles."
    textBtn="+ d'infos sur la PAC géothermique"
    image="assets/pacgeo.png"
  ></app-section>
</section>