<section class="bloc h-full w-full">
  <div class="overflow-hidden bg-white py-16 sm:py-0 sm:pb-10 sm:pt-20 pt-40">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl flex justify-center">
        Pompe à chaleur Air-Eau : alliez confort et économies !
      </h2>
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div>
          <img src="assets/clim2.webp" alt="Product screenshot" class="w-full object-contain md:-ml-4 lg:-ml-0 md:rounded-tl-[10rem] mt-20">
          <div class="text-lg leading-8 text-gray-600 flex justify-center">
            <app-button buttonText="JE REMPLACE MES ÉQUIPEMENTS" width="400px" class="mt-20"></app-button>
          </div>
        </div>
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-2xl text-justify">
            <p class="mt-6 text-lg leading-7 text-gray-600">
              La pompe à chaleur air-eau est la solution la moins chère pour chauffer votre
              foyer en hiver et utiliser votre eau chaude sanitaire tout au long de l’année.
              Combiné à un chauffe-eau thermodynamique, votre facture d’énergie peut
              aller jusqu’à être divisée par 2 !
              Un investissement rentable et écologique.
              Gârce à la pompe à chaleur air-eau vous pourrez :
            </p>
            <dl class="mt-6 max-w-xl space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
              <ul class="mt-6 text-lg leading-8 text-gray-600 pl-12">
                <li class="list-disc mt-6">
                  Bénéficier d’un système de production d’ECS et de chauffage économique
                  qui fonctionne à environ 70% grâce aux énergies renouvelables. De plus, la
                  PAC consomme trois fois moins que ce qu’elle délivre, vous divisez donc vos
                  dépenses de chauffage par 3, et ce, dès l’installation.
                </li>
                <li class="list-disc mt-6">
                  Profiter d’un excellent confort thermique si votre maison est bien isolée et
                  produire l’ECS rapidement à haute température sans payer plus cher !
                </li>
                <li class="list-disc mt-6">
                  Valoriser votre bien immobilier: un logement éco-rénové peut espérer une
                  plus-value de 9 à 12% selon la dernière étude des Notaires de France.
                  L’habitat durable, confortable et économique est désormais une priorité
                  lors d’un achat ou de la location d’un bien qui plus est aux vues des
                  augmentations des tarifs de l’énergie.
                </li>
              </ul>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-article
    title="Chauffe-eau Thermodynamique : divisez votre facture par 5 !"
    content="La production d’eau chaude sanitaire représente en moyenne 15% des dépenses
    énergétiques d’un foyer. Le chauffe-eau thermodynamique est équipé d’une pompe à chaleur intégrée qui consiste à
    capter les calories présentent dans l’air pour les transmettre à l’eau du ballon. Pour 1kwH
    consommé il en produit 3,7 ce qui réduit drastiquement vos consommations d’énergies. CET à haut rendement, quels sont les avantages?
    Il existe des CET encore plus performants,leur coefficient de performance est de 4 voire
    même 5 ce qui signifie que pour 1 kWh d’énergie consommée, ils produisent 4 /5 kWh
    d’énergie pour chauffer l’ECS. Pour un même volume chauffé, vous divisez votre facture par
    4/5. Votre installation est 4/5 fois plus rentable que votre cumulus ou ballon électrique actuel !
    l’équipement chauffe beaucoup plus vite et consomme moins d’énergie."
    textBtn="je me renseigne sur le CET"
    image="assets/chauffe.webp"
  ></app-article>
  <!-- <div class="overflow-hidden bg-white py-16 sm:py-0 sm:pb-10 sm:mt-40">
    <div class="mx-auto px-6 lg:px-8">
      <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl flex justify-center">
        Chauffe-eau Thermodynamique : divisez votre facture par 5 !
      </h2>
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <img src="assets/chauffe.webp" alt="Product screenshot" class="w-[35rem] object-contain sm:mt-10 lg:mt-20 sm:w-[57rem] md:-ml-4 lg:-ml-0 h-[50rem]" width="2432" height="642">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-2xl text-justify">
            <p class="mt-4 text-lg leading-7 text-gray-600">
              La production d’eau chaude sanitaire représente en moyenne 15% des dépenses
              énergétiques d’un foyer.
            </p>
            <p class="mt-2 text-lg leading-7 text-gray-600">
              Le chauffe-eau thermodynamique est équipé d’une pompe à chaleur intégrée qui consiste à
              capter les calories présentent dans l’air pour les transmettre à l’eau du ballon. Pour 1kwH
              consommé il en produit 3,7 ce qui réduit drastiquement vos consommations d’énergies.
            </p>
            <p class="mt-2 text-lg leading-7 text-gray-600">
              CET à haut rendement, quels sont les avantages?
              Il existe des CET encore plus performants,leur coefficient de performance est de 4 voire
              même 5 ce qui signifie que pour 1 kWh d’énergie consommée, ils produisent 4 /5 kWh
              d’énergie pour chauffer l’ECS. Pour un même volume chauffé, vous divisez votre facture par
              4/5. Votre installation est 4/5 fois plus rentable que votre cumulus ou ballon électrique actuel !
              <span class="font-black">Résultat :</span> l’équipement chauffe beaucoup plus vite et consomme
              moins d’énergie.
            </p>
            <p class="mt-2 text-lg leading-7 text-gray-600">
              Quand remplacer vos équipements par un chauffe-eau thermodynamique ?
            </p>
            <dl class="mt-2 max-w-xl space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
              <ul class="mt-2 text-lg leading-8 text-gray-600 pl-12">
                <li class="list-disc mt-2">
                  Vous voulez immédiatement faire des économies d’énergies.
                </li>
                <li class="list-disc mt-2">
                  Votre appareil actuel a entre 12 et 20 ans : c’est la durée de vie moyenne des anciens
                  équipements. Dans cette période et passé ce délai, son fonctionnement n’est pas optimal.
                </li>
                <li class="list-disc mt-2">
                  Il montre des signes de fatigue.
                </li>
                <li class="list-disc mt-2">
                  Vous l’avez déjà fait réparer au moins une fois.
                </li>
                <li class="list-disc mt-2">
                  Vous mettez longtemps à obtenir la température souhaitée à la sortie des robinets.
                </li>
                <li class="list-disc mt-2">
                  Vous avez vu de la rouille se former : attention, c’est le signe qu'il se fissure et va
                  prochainement fuir.
                </li>
                <li class="list-disc mt-2">
                  Le liquide qui sort des robinets a changé de couleur ? C’est la preuve de la présence de
                  rouille au fond de la cuve. Le système et la résistance électrique ne fonctionnent pas
                  correctement et met votre santé en danger.
                </li>
              </ul>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-xl text-justify">
            <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
              Des aides pour passer au combiné solaire :
            </h2>
            <p class="mt-6 text-lg leading-7 text-gray-600">
              Vous connaissez sûrement le chauffe-eau solaire (CESI), mais avezvous
              déjà entendu parler du système solaire combiné (SSC) ? En plus
              de produire votre eau chaude sanitaire (ECS), ce système vous permet
              de chauffer votre habitation. Le tout, grâce à une énergie verte,
              gratuite et inépuisable : le soleil.
            </p>
            <dl class="mt-6 max-w-xl space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
              <p class="mt-6 text-lg leading-8 text-gray-600">
                Le système solaire combiné se compose d'un panneau solaire
                thermique et d'un ballon de stockage. Le tout est relié au système de
                chauffage central de votre maison.
              </p>
              <ul class="mt-6 text-lg leading-8 text-gray-600 pl-12">
                <li class="list-disc">Les capteurs solaires récupèrent les calories du soleil.</li>
                <li class="list-disc">
                  Les calories sont transmises à un fluide caloporteur et envoyées
                  dans le ballon de stockage.
                </li>
                <li class="list-disc">La chaleur est redistribuée dans toute la maison grâce au réseau
                  de tuyauterie.
                </li>
              </ul>
            </dl>
          </div>
        </div>
        <img src="assets/solaire.webp" alt="Product screenshot" class="w-full object-contain mt-10 max-w-none md:rounded-tr-[10rem] md:-ml-4 lg:-ml-0">
      </div>
    </div>
  </div>
  <app-section
    title="PAC Géothermique : peu connu et pourtant plus performant !"
    content="Géo-Thermie, la chaleur de la terre. La terre emmagasine de
    l’énergie. En surface, elle reçoit l’énergie du soleil, de la pluie, du
    vent. Plus en profondeur, la chaleur provient des roches et du
    magma qui forment le noyau terrestre. Il s’agit donc d’une énergie
    gratuite, locale et renouvelable.
    Pour autant, cette énergie n’est pas directement exploitable et
    c’est le rôle de la pompe à chaleur. Son rôle est de permettre une
    élévation de la température entre les deux sources.
    Les performances de la PAC géothermique sont constantes sur
    l’année car la température du sol varie peu. Il n’y a donc pas besoin
    d’une énergie d’appoint contrairement aux PAC air-air ou air-eau
    dont les performances sont plus météo-sensibles."
    textBtn="+ d'infos sur la PAC géothermique"
    image="assets/pacgeo.webp"
  ></app-section>
  <app-article
    title="PAC AIR-AIR"
    content="Le fonctionnement de la pompe à chaleur (PAC) air-air est très
    simple. Elle capte les calories de chaleur présentes dans l’air
    extérieur pour chauffer votre logement. Pour cela, elle se compose
    de deux unités : l’unité située à l’extérieur de votre logement, récupère les calories
    de l’air qu’elle transmet à un liquide frigorigène acheminé vers
    l’unité intérieure ;
    l’autre, située à l’intérieur, diffuse ces calories de chaleur au sein
    de votre logement à l’air de splits ou ventilo-convecteurs. La pompe à chaleur air-air présente de nombreux points forts :
    elle permet de diviser vos factures de chauffage par 3 ;
    elle est réversible et produit de l’air frais en été ;
    elle n’a pas besoin d’être couplée à un système de chauffage
    central ;
    elle est modulable et peut être installée dans les pièces de votre
    choix ;
    elle s’installe facilement et rapidement ;
    elle utilise une énergie renouvelable pour fonctionner."
    textBtn="JE SOUHAITE FAIRE INSTALLER UNE PAR
    AIR-AIR"
    image="assets/airair.webp"
  ></app-article>
  <app-section
    title="CLIMATISEUR RÉVERSIBLE : LE CONFORT TOUT AU LONG DE L’ANNÉE"
    content="Également présenté comme chauffage thermodynamique ou
    encore pompe à chaleur air-air, cet appareil possède une même
    modalité de fonctionnement pour deux résultats opposés avec
    plusieurs bénéfices :
    Économiques : ce système consomme 3 fois moins d’énergies
    qu’il n’en a besoin pour fonctionner. Une belle économie sur la
    facture en perspective.
    Précision : les climatiseurs réversibles sont aujourd'hui devenus
    d'une précision élevée concernant la régulation électronique de
    la chaleur, et ce, au dixième de degré près !
    Ecologique : les constructeurs doivent améliorer constamment la
    nature même du fluide frigorigène compris dans les appareillages.
    Gain de place confortable : ce système évite d'avoir à s'équiper de
    deux appareils distincts, ce qui permet également de réduire les
    dépenses dues à l'achat, l'installation puis l'entretien de deux
    équipements différents."
    textBtn="JE VEUX UN CLIMATISEUR RÉVERSIBLE"
    image="assets/reversible.webp"
  ></app-section>
  <app-article
    title="CLIMATISEUR MONOBLOC : LE CONFORT À PETIT PRIX"
    content="Les climatiseurs monobloc représentent plusieurs avantages :
    à noter pour cette climatisation, on peut souligner la facilité d’installation qui ne
    nécessite pas de gros travaux.
    Nul besoin d’eau pour fonctionner.
    De plus, c’est un système peu onéreux tant à l’achat qu’à la consommation
    d’énergie ou encore à l’entretien.
    Un dernier aspect intéressant à connaître sur ce mode de rafraîchissement est
    la déshumidification et la filtration de l’air de l’espace où il est installé.
    Deux types de climatiseurs existent :
    Le climatiseur simple qui ne produit uniquement que de l’air froid tandis que le
    climatiseur réversible qui, lui, peut créer de l’air froid comme du chaud.
    Le climatiseur monobloc mural qui comme son nom le fait savoir, est
    encastré dans un mur. C’est un modèle qui est plus performant que le
    précédent mais qui nécessite la mise en place d’un système d’évacuation.
    Le climatiseur monobloc window (de l’anglais signifiant “fenêtre”), se
    positionne dans l’encadrement d’une fenêtre grâce à un châssis de fixation,
    que ce soit à l’horizontal ou à la verticale et à cheval entre l’intérieur et
    l’extérieur. Ce sont des systèmes pouvant être retirés et rangés lors des
    périodes hivernales."
    textBtn="JE VEUX UN CLIMATISEUR RÉVERSIBLE"
    image="assets/monobloc.webp"
  ></app-article>
  <app-section
    title="CLIMATISEUR SPLIT : VOTRE ALLIÉ TOUT AU LONG DE L’ANNÉE"
    content="Idéal pour une installation au sein du logement, le split mural
    rafraîchit les lieux mais peu aussi les chauffer lorsqu’il est doté de la
    technologie réversible. Dédié au bien-être et au confort thermique,
    cet équipement permet de réaliser des économies d’énergie sans
    pour autant recourir à de lourds travaux d’aménagement.
    Le split mural, de par sa facilité d’installation et son faible
    encombrement au sein du logement, est un des modèles de
    climatisation maison les plus répandus. Comme son nom l’indique, le
    split est fixé au mur, voire au plafond selon les cas et les contraintes
    imposées par les lieux.
    La majorité des appareils de ce type est réversible afin de proposer
    deux fonctions qui le rendent utile tout au long de l’année, à savoir
    une fonction de rafraîchissement pour les périodes de chaleur et,
    inversement, une fonction de chauffage pour l’hiver. En cas de grand
    froid, il faudra cependant avoir recours à un autre système de
    chauffage.
    Il existe d’ailleurs des systèmes capables de détecter la présence des
    occupants et, en conséquence, d’adapter l’ambiance thermique des
    lieux. Dans la pratique, le système sort de son mode de veille
    lorsqu’une personne est détectée."
    textBtn="JE VEUX UN CLIMATISEUR RÉVERSIBLE"
    image="assets/reversible-split.webp"
  ></app-section>
</section>