<section class="bloc h-full w-full">
  <div class="overflow-hidden bg-white py-16 sm:py-0 sm:pb-10 sm:pt-10">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl flex justify-center">
        Pompe à chaleur Air-Eau : alliez confort et économies !
      </h2>
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div>
          <img src="assets/clim2.png" alt="Product screenshot" class="w-[35rem] object-contain sm:w-[57rem] md:-ml-4 lg:-ml-0 h-[36rem]" width="2432" height="642">
          <div class="text-lg leading-8 text-gray-600 flex justify-center">
            <app-button buttonText="JE REMPLACE MES ÉQUIPEMENTS" width="400px"></app-button>
          </div>
        </div>
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-2xl text-justify">
            <p class="mt-6 text-lg leading-7 text-gray-600">
              La pompe à chaleur air-eau est la solution la moins chère pour chauffer votre
              foyer en hiver et utiliser votre eau chaude sanitaire tout au long de l’année.
              Combiné à un chauffe-eau thermodynamique, votre facture d’énergie peut
              aller jusqu’à être divisée par 2 !
              Un investissement rentable et écologique.
              Gârce à la pompe à chaleur air-eau vous pourrez :
            </p>
            <dl class="mt-6 max-w-xl space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
              <ul class="mt-6 text-lg leading-8 text-gray-600 pl-12">
                <li class="list-disc mt-6">
                  Bénéficier d’un système de production d’ECS et de chauffage économique
                  qui fonctionne à environ 70% grâce aux énergies renouvelables. De plus, la
                  PAC consomme trois fois moins que ce qu’elle délivre, vous divisez donc vos
                  dépenses de chauffage par 3, et ce, dès l’installation.
                </li>
                <li class="list-disc mt-6">
                  Profiter d’un excellent confort thermique si votre maison est bien isolée et
                  produire l’ECS rapidement à haute température sans payer plus cher !
                </li>
                <li class="list-disc mt-6">
                  Valoriser votre bien immobilier: un logement éco-rénové peut espérer une
                  plus-value de 9 à 12% selon la dernière étude des Notaires de France.
                  L’habitat durable, confortable et économique est désormais une priorité
                  lors d’un achat ou de la location d’un bien qui plus est aux vues des
                  augmentations des tarifs de l’énergie.
                </li>
              </ul>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>