<section class="bloc h-full w-full">
  <!-- auto-consommation -->
  <div class="overflow-hidden bg-white pt-44">
    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
        <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            Prime autoconsommation
          </h2>
          <p class="mt-6 text-xl leading-8 text-gray-600">
            La prime à l'autoconsommation est une aide à l'investissement accordée par
            l'État aux producteurs d'électricité (particuliers et professionnels). Pour
            l'obtenir, il faut installer des panneaux solaires photovoltaïques (PV) d'une
            puissance inférieure ou égale à 100 kWc, et choisir de vendre le surplus de
            production.
          </p>
        </div>
        <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
          <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
            <img src="assets/primeauto.webp" alt="" class="aspect-[7/5] w-[30rem] max-w-none m-auto object-cover">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- prime CEE -->
  <div class="overflow-hidden bg-white py-24">
    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
      <div class="grid-flow-col mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
        <div class="order-2 lg:order-1 lg:w-full lg:max-w-lg lg:pb-8">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            Prime CEE
          </h2>
          <p class="mt-6 text-xl leading-8 text-gray-600">
            Si vous réalisez des travaux d'isolation, vous obtiendrez un Certificat d’économie d’énergie
            qu’un fournisseur d’énergie doit racheter sous forme d’offre de service ou de primes,
            la Prime Énergie.
          </p>
        </div>
        <div class="order-1 lg:order-2 flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
          <div class="w-0 flex lg:w-auto lg:flex-none mt-48 lg:mt-0">
            <img src="assets/cee.webp" alt="" class="aspect-[7/5] w-[30rem] max-w-none m-auto object-contain">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="overflow-hidden bg-white py-24">
    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
      <div class="flex mx-auto max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
        <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
          <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex lg:self-end">
            <img src="assets/cee.webp" alt="" class="w-[30rem] max-w-none rounded-2xl object-cover">
          </div>
        </div>
        <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            Prime CEE
          </h2>
          <p class="mt-6 text-xl leading-8 text-gray-600">
            Si vous réalisez des travaux d'isolation, vous obtiendrez un Certificat d’économie d’énergie qu’un
            fournisseur d’énergie doit racheter sous forme d’offre de service ou de primes, la Prime Énergie.
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Action logement -->
  <div class="overflow-hidden bg-white py-24">
    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
        <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            Action Logement
          </h2>
          <p class="mt-6 text-xl leading-8 text-gray-600">
            Dispositif pour la rénovation énergétique réservé principalement aux revenus les
            plus modestes, l'aide peut aller jusqu'à 20.000 €
          </p>
        </div>
        <div class="flex">
          <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex m-auto lg:self-end">
            <img src="assets/actionLogement.webp" alt="" class="aspect-[7/5] w-[30rem] flex max-w-none m-auto object-contain">
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- TVA réduite -->
<div class="overflow-hidden bg-white py-24">
  <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
    <div class="grid-flow-col mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
      <div class="order-2 lg:order-1 lg:w-full lg:max-w-lg lg:pb-8">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          TVA réduite
        </h2>
        <p class="mt-6 text-xl leading-8 text-gray-600">
          L’État a mis en place un taux de TVA réduit à 5,5% afin d'encourager les
          particuliers à entreprendre des travaux d'amélioration de l'habitat.
        </p>
      </div>
      <div class="order-1 lg:order-2 flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
        <div class="w-0 flex lg:w-auto lg:flex-none mt-48 lg:mt-0">
          <img src="assets/tva.webp" alt="" class="aspect-[7/5] w-[30rem] max-w-none m-auto object-contain">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Eco-PTZ -->
<div class="overflow-hidden bg-white py-24">
  <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
      <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          L'Éco-PTZ : le prêt à taux zéro
        </h2>
        <p class="mt-6 text-xl leading-8 text-gray-600">
          Destiné au financement des travaux de rénovation énergétique, il est applicable
          sans aucune condition de ressources.
        </p>
      </div>
      <div class="flex">
        <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex m-auto lg:self-end">
          <img src="assets/eco-pret.jpeg" alt="" class="aspect-[7/5] w-[30rem] flex max-w-none m-auto object-contain">
        </div>
      </div>
    </div>
  </div>
</div>
</section>