<section class="bloc h-full w-full pt-14">
  <app-article
    title="VMC DOUBLE FLUX : + DE 500€ D’ÉCONOMIES !"
    content="La VMC double flux permet de réduire jusqu'à 510€/an votre facture
    de chauffage. Cet équipement améliore aussi votre confort
    thermique et la qualité de l'air chez vous.
    En effet, le fonctionnement d'une VMC double flux est
    particulièrement ingénieux : lorsqu’elle extrait l’air vicié du foyer, elle
    en récupère les calories pour préchauffer l’air entrant. Notez qu’en
    inversant son système, la VMC double flux permet également de
    rafraîchir le logement en été. Il est conseillé de faire appel à un professionnel
    qualifié pour réaliser les travaux. Cela garantira une bonne
    installation et vous permettra de bénéficier des différentes aides
    financières mises en place par le gouvernement pour amortir cet
    investissement"
    textBtn="JE VEUX FAIRE INSTALLER UNE VMC
    DOUBLE FLUX"
    image="assets/vmcdouble.png"
  ></app-article>
  <app-section
    title="VMC SIMPLE FLUX : COMBIEN ÇA COÛTE ?"
    content="L’air intérieur de nos logements est plus pollué que l’air extérieur. En
    effet, plusieurs sources de pollution sont présentes dans les murs, les
    sols, le mobilier et les produits d’entretien.
    Pour ces raisons, la VMC (ventilation mécanique contrôlée) vient en
    renfort de l’aération naturelle. Il s’agit d’un dispositif motorisé
    permettant le renouvellement de l'air à l'intérieur des pièces de votre
    maison.
    Le prix d’une VMC simple flux varie selon sa technologie et de sa
    marque. La VMC hygroréglable vous permet de bénéficier d’une réduction
    de la TVA à 5,5%. Pour cela, vous devez obligatoirement faire appel à
    un artisan Reconnu Garant de l’Environnement comme GES pour
    vos travaux."
    textBtn="JE CONTACTE GES POUR MON
    INSTALLATION"
    image="assets/vmcsimple.png"
  ></app-section>
  <app-article
    title="VMC AUTO-RÉGLABLE : COMMENT ÇA FONCTIONNE ?"
    content="Il existe deux types de VMC Simples.
    Les systèmes autoréglables : ils assurent un renouvellement
    constant de l’air, sans régulation externe au système. Seuls les
    diamètres des conduits et la puissance du moteur influent sur le
    renouvellement de l’air. Ces paramètres doivent être adaptés en
    fonction du nombre et du volume des pièces ;
    les systèmes hygroréglables : ils régulent le flux d’air sortant en
    fonction du taux d’hygrométrie de l’air intérieur. Des capteurs en
    eau sont ajoutés au niveau des bouches d’extraction. Ainsi, le
    système augmente le débit quand l’humidité détectée est trop
    importante. Sur certains modèles, les entrées d’air sont aussi
    sensibles à l’humidité. Cela permet un meilleur contrôle des
    pertes de chaleur et de faire des économies de chauffage.
    Nos experts GES vous renseignent sur le meilleur système à installer
    chez vous, en fonction de la qualité de l’air et de vos besoins."
    textBtn="JE CONTACTE GES POUR MON
    INSTALLATION"
    image="assets/vmcauto.png"
  ></app-article>
  <app-section
    title="PUITS CANADIEN : VENTILER SA MAISON
    NATURELLEMENT"
    content="Il consiste à utiliser l'inertie thermique du sol pour pré-traiter l'air neuf
    de renouvellement d'air de la maison ou du local.
    L'air extérieur en France varie de –20° à +35°C tout au long de l'année
    comparativement à la température du sol qui, elle, est d'une stabilité
    remarquable en moyenne autour de 12°C. Voici le fonctionnement.
    En saison froide :
    Préchauffage de l'air frais extérieur. L'air extérieur est introduit à une
    température supérieure à 0°C, le risque de dégivrage est pratiquement
    nul. Afin de produire encore plus d'économies d'énergie, il est introduit
    via un caisson de ventilation double flux à récupération sur l'air extrait.
    En saison chaude :
    L'échangeur d'air géothermique rafraîchit l'air extérieur, entraînant
    ainsi une sensation de fraîcheur dans la pièce; l'air neuf étant refroidi
    de quelques degrés.
    Il ne constitue pas un système de climatisation ou de rafraîchissement
    à proprement parlé mais d’un système de refroidissement naturel de
    l'air neuf."
    textBtn="JE CONTACTE GES POUR MON
    INSTALLATION"
    image="assets/schema.png"
  ></app-section>
</section>