<section class="bloc h-full w-full pt-14">
  <app-article
    title="VMC DOUBLE FLUX : + DE 500€ D’ÉCONOMIES !"
    content="La VMC double flux permet de réduire jusqu'à 510€/an votre facture
    de chauffage. Cet équipement améliore aussi votre confort
    thermique et la qualité de l'air chez vous.
    En effet, le fonctionnement d'une VMC double flux est
    particulièrement ingénieux : lorsqu’elle extrait l’air vicié du foyer, elle
    en récupère les calories pour préchauffer l’air entrant. Notez qu’en
    inversant son système, la VMC double flux permet également de
    rafraîchir le logement en été. Il est conseillé de faire appel à un professionnel
    qualifié pour réaliser les travaux. Cela garantira une bonne
    installation et vous permettra de bénéficier des différentes aides
    financières mises en place par le gouvernement pour amortir cet
    investissement"
    textBtn="JE VEUX FAIRE INSTALLER UNE VMC
    DOUBLE FLUX"
    image="assets/vmcdouble.png"
  ></app-article>
  <app-section
    title="VMC SIMPLE FLUX : COMBIEN ÇA COÛTE ?"
    content="’air intérieur de nos logements est plus pollué que l’air extérieur. En
    effet, plusieurs sources de pollution sont présentes dans les murs, les
    sols, le mobilier et les produits d’entretien.
    Pour ces raisons, la VMC (ventilation mécanique contrôlée) vient en
    renfort de l’aération naturelle. Il s’agit d’un dispositif motorisé
    permettant le renouvellement de l'air à l'intérieur des pièces de votre
    maison.
    Le prix d’une VMC simple flux varie selon sa technologie et de sa
    marque. La VMC hygroréglable vous permet de bénéficier d’une réduction
    de la TVA à 5,5%. Pour cela, vous devez obligatoirement faire appel à
    un artisan Reconnu Garant de l’Environnement comme GES pour
    vos travaux."
    textBtn="JE CONTACTE GES POUR MON
    INSTALLATION"
    image="assets/vmcsimple.png"
  ></app-section>

</section>