<section class="bloc w-full h-full">
  <div class="flex w-full h-[380px]">
    <img src="assets/particuliers.webp" alt="" class="w-1/2 object-cover" />
    <img src="assets/professionnels.webp" alt="" class="w-1/2 object-cover" />
  </div>
  <div class="flex justify-around w-full m-auto relative mt-[-80px] mb-20 h-10">
    <p
      class="border cursor-pointer rounded-full h-10 w-44 justify-center flex items-center uppercase bg-slate-300 hover:bg-[#64cb00]"
     routerLink="">
      Particuliers
    </p>
    <p
      class="border cursor-pointer rounded-full h-10 w-44 justify-center flex items-center uppercase bg-slate-300 hover:bg-[#64cb00]"
     routerLink="professionnels">
      Professionnels
    </p>
  </div>
</section>
<section class="bloc h-full w-full">
  <app-article
    title="FERME SOLAIRE : GRANDE SURFACE, HAUT RENDEMENT !"
    content="Un projet de ferme solaire présente de nombreux atouts puisqu’elle offre :
    Une production d’énergie propre et renouvelable à grande échelle: Le parc
    photovoltaïque émet peu de gaz à effet de serre sur toute sa durée
    d’exploitation. À ce titre, ce type de projet contribue à la transition
    énergétique, l’amélioration de la qualité de l’air et, plus globalement, à la
    lutte contre le réchauffement climatique.
    Des coûts d’exploitation réduits: Une fois qu’elle est mise en place, la ferme
    solaire demande des coûts d’exploitation relativement faibles. La principale
    dépense à prévoir sur toute la durée d’utilisation du parc concerne la
    maintenance du site.
    Une grande durabilité: Les panneaux photovoltaïques peuvent produire de
    l’électricité solaire pendant de nombreuses années. Leur durée de vie
    moyenne se situe entre 25 et 30 ans, mais dans certains cas, leur longévité
    peut atteindre 40 ans.
    Selon la CRE (Commission de Régulation de l’Énergie), le taux de rentabilité
    d’un parc photovoltaïque se situe entre 2,14 et 5,56 % sur 20 ans. En clair, il
    s’agit d’un projet rentable : la vente d’électricité issue des panneaux
    photovoltaïques permet d’obtenir un revenu supérieur aux dépenses
    engagées pour construire la ferme solaire.
    GES France vous accompagne dans ce projet de A à Z."
    textBtn="JE SOUHAITE OBTENIR UN DEVIS
    PERSONNALISÉ"
    image="assets/ferme.webp"
  ></app-article>
  <app-section
    title="HANGAR PHOTOVOLTAÏQUE"
    content="Générez des revenus grâce à vos terrains inexploités ou sous
    exploités et participez à la transition énergétique.
    Le hangar offre plusieurs bénéfices :
    L’autoconsommation totale consiste à consommer la plus
    grande part possible de la production, pour alimenter les
    équipements sur place.
    La revente totale implique d’injecter la totalité de l’électricité
    produite dans le réseau public, sans l’utiliser sur l’exploitation,
    contre rémunération.
    L’autoconsommation avec revente de surplus permet quant à
    elle de consommer l’électricité produite par le hangar et de
    vendre la part non consommée sur place.
    Voici quelques prérequis à ce projet :
    Être propriétaire d’un terrain accessible et de préférence plat, ou
    d’un plan d’eau
    Surface minimale de 5 hectares
    Poste source à une distance inférieure à 10 km
    En tant qu’entreprise RGE et expérimentée, GES vous accompagne
    de A à Z dans votre projet.et vous propose même la construction de
    votre hangar solaire"
    textBtn="JE SOUHAITE OBTENIR UNE ÉTUDE
    PERSONNALISÉE"
    image="assets/hangar.webp"
  ></app-section>
  <app-article
    title="TOITURE SOLAIRE"
    content="Vous avez une ferme, un entrepôt de stockage, un bâtiment industriel, un
    centre équestre couvert, un hangar agricole ou tout autre bâti doté d’une
    grande surface de toit (exemple : centre commercial, hypermarché, dock,
    parking couvert, etc.). Tirez le meilleur parti de ces mètres carrés inutilisés en
    vous engageant sur la voie des énergies renouvelables grâce au rayonnement
    du soleil, de la lumière naturelle et au photovoltaïque en les transformant en
    toiture solaire.
    Les avantages :
    Produire de l’électricité gratuite pour vos activités :
    L'électricité produite par la toiture solaire permettra de faire fonctionner votre
    système de chauffage / climatisation / chambre froide, éclairage intérieur et
    extérieur, alimentation des petits et gros appareils électriques. Selon vos
    besoins énergétiques en Kwh (kilowattheure) et le dimensionnement de votre
    centrale photovoltaïque, vous pourrez passer en autoconsommation électrique
    totale ou partielle.
    Revendre le surplus électrique et générer un revenu supplémentaire
    Votre production d’électricité verte peut être rachetée par un opérateur
    électrique (EDF OA – obligation d’achat) ou un fournisseur d’énergie verte (Ilek,
    EnerCoop, Énergie d’Ici, EkWatteur par exemple) via un contrat vous
    engageant sur plusieurs années.
    Louer votre toit : Vous signez un bail de location avec une entreprise
    spécialiste de l’énergie photovoltaïque, celle-ci fait installer des panneaux
    photovoltaïques sur votre toiture et exploite la production électrique. Les
    bailleurs de ce type cherchent avant tout la rentabilité et sont en quête
    exclusivement de grandes toitures de plusieurs centaines de m2."
    textBtn="JE SOUHAITE OBTENIR UN DEVIS
    PERSONNALISÉ"
    image="assets/toiture-solaire.webp"
  ></app-article>
  <app-section
    title="AUTOCONSOMMATION PHOTOVOLTAIQUE POUR
    LES PROFESSIONNELS, C’EST FACILE !"
    content="L’autoconsommation n’est pas réservée aux particuliers au contraire ! En
    équipant vos locaux professionnels de photovoltaïques, vous dites oui à de
    nombreux avantages:
    Réduction significative de vos factures voire suppression
    Revente de surplus électrique à un opérateur énergétique.
    Aides financières
    Service à forte valeur ajoutée pour vos clients ou collaborateurs (borne de
    recharge par exemple)
    Éco-engagement
    Plusieurs solutions existent :
    le toit solaire : l’installation de panneaux solaires s’effectue sur le toit par
    surimposition.
    le champ solaire : la pose de panneaux solaires photovoltaïques s’effectue au
    sol.
    les ombrières photovoltaïques : il s’agit d’abris voiture dont la surface est
    recouverte de modules photovoltaïques. Elles peuvent être couplées à
    l’installation de borne de recharge pour voiture électrique et voiture hybride.
    Quel que soit votre projet d’autoconsommation électrique photovoltaïque
    (autoconsommation totale photovoltaïque ou partielle), nous saurons y
    répondre : petite ou grande centrale solaire professionnelle !"
    textBtn="JE SOUHAITE UN DEVIS POUR UNE
    SOLUTION D’AUTOCONSOMMATION"
    image="assets/autoconsopro.webp"
  ></app-section>
  <app-article
    title="REVENTE D’ÉLÉCTRICITÉ PHOTOVOLTAIQUE"
    content="Plusieurs entités rachètent votre électricité verte :
    EDF OA qui dans le cadre de sa mission de service public, a une obligation
    d’achat vis-à-vis des particuliers et entreprise qui souhaitent choisir la revente
    d’électricité photovoltaïque. Vous signerez un contrat de 20 ans dont le tarif
    d’achat au kWh est fixé par EDF OA. L’énergie produite est injectée sur le
    réseau public. En passant par EDF OA, vous pouvez demander à bénéficier de
    la prime autoconsommation qui vous sera versée pendant 5 ans.
    Les fournisseurs d’énergies concurrents ou fournisseurs d’énergies vertes
    comme Enercoop, Ilek, Planète Oui EkWateur, Mint Energie, etc. La durée du
    contrat de revente d’électricité photovoltaïque dépend de chaque opérateur,
    tout comme les tarifs d’achat au kilowatt.
    Quelle que soit la structure choisie, vous devrez contacter Enedis pour le
    raccordement et la mise en service votre installation et ouvrir un compte
    producteur en ligne. Enedis se chargera ensuite de transmettre les informations
    et données à l’opérateur de votre choix.
    Vous souhaitez devenir producteur et vivre complètement de la revente de
    l’électricité photovoltaïque ?
    Contactez nos experts pour avoir davantage de renseignements."
    textBtn="JE SOUHAITE REVENDRE MON ÉLECTRICITÉ
    VERTE"
    image="assets/revente.webp"
  ></app-article>
  <app-section
    title="OMBRIERE PHOTOVOLTAIQUE : PROFESSIONNELS, OPTEZ POUR UN
    INVESTISSEMENT RENTABLE ET DURABLE"
    content="L’ombrière photovoltaïque présentent de nombreux avantages :
    Vous faites des économies d’énergies, vous optez pour l’autonomie
    électrique et l’autoconsommation.
    Vous offrez à vos clients ou habitants des services à valeur ajoutée
    Vous faites un investissement rentable à court, moyen et long terme
    Vous travaillez votre imade de marque
    En tant qu’installateur solaire depuis plusieurs années sur toit et grande
    toiture en surimposition, nous avons développé une expertise dans les
    centrales solaire domestiques, bâtiment photovoltaïque, ferme solaire..
    Nous sommes qualifiés dans les installations suivantes :
    Ombrière photovoltaïque pour particulier
    Ombrière photovoltaïque agricole
    Ombrière photovoltaïque de parking
    Les choix de matériaux sont multiples : bois ou métal, grandes
    installations et parcs solaires ou petits gabarits. Silicium monocristallin
    ou polycristallin, panneau solaire classique ou à haut rendement,
    technologie half-cut.. Nous sommes là pour vous conseiller et vous
    accompagner en fonction de vos besoins."
    image="assets/ombriere.webp"
    textBtn="JE SOUHAITE OBTENIR UN DEVIS
    PERSONNALISÉ"
  ></app-section>
  <app-article
    title="Professionnels, collectivités & syndics : le
    carport c’est aussi pour vous !"
    content="Installez un ensemble de carports solaires sur le parking de votre
    entreprise, de votre grande surface, sur un parking communal ou au
    pied d’un ensemble d’immeubles.
    Vous offrez un véritable service à vos collaborateurs, clients, salariés,
    propriétaires avec le carport solaire.
    Nombreux sont les particuliers à rouler désormais en voiture électrique
    ou à être attentifs aux efforts engagés par les sociétés et collectivités en
    matière de transition énergétique. Avec l’abri voiture solaire, vous
    permettez à vos collaborateurs de stationner leur véhicule à l’abri du
    soleil et recharger leur batterie, produisez les KwH dont vous avez
    besoin pour l’éclairage public et améliorer votre image de marque tout
    en faisant un geste pour l’environnement !
    De plus, les carports solaires sont personnalisables à l’infini : bois,
    aluminium, place simple, double.
    A vous de choisir votre style : bois, aluminium, carport solaire pour
    voiture électrique avec borne de recharge, grande largeur, un pant ou
    plusieurs, toit plat ou incliné, inclinaison automatique avec tracker, etc."
    textBtn="JE SOUHAITE UNE ÉTUDE PERSONNALISÉE
    ET GRATUITE"
    image="assets/carportpro.webp"
  ></app-article>
  <app-section
    title="DRV : LA CLIMATISATION À GRANDE ÉCHELLE"
    content="Adaptés aux grandes superficies, les systèmes de climatisation VRV/DRV sont
    particulièrement conseillés pour les locaux à usage #tertiaire (bureaux,
    administrations, collectivités locales), les musées, les hôpitaux, les établissements
    scolaires, mais aussi les très grandes habitations (hôtels particuliers, grandes
    demeures familiales, …)
    Ce système de conditionnement d’air, performant et économique, peut s’installer
    aussi bien dans le cadre d’une construction neuve que d’une rénovation.
    Ils sont composés d’une ou plusieurs unités extérieures et d’un nombre d’unités
    intérieures pouvant aller jusqu’à 60 pour le VRV, 50 pour le DRV, ce qui rend ce
    système de climatisation parfaitement adapté dans les hôtels puisque chaque
    chambre peut ainsi être équipée d’une unité intérieure individuelle.
    Différents types d’appareils peuvent être utilisés en unités intérieures : plafonnier,
    cassette, climatiseur mural, consoles, etc
    Voici quelques avantages :
    facile et rapide à installer, même si des aménagements sont à prévoir pour faire
    passer les tubes frigorifiques (cela reste possible en remplacement d’un ancien
    système) et placer les unités intérieures.
    Économie d’énergie induite par son fonctionnement :
    En réversible, vous pouvez alimenter toutes les pièces en chauffage et
    climatisation indépendamment, sans difficulté."
    image="assets/drv.webp"
    textBtn="JE VEUX UN CLIMATISEUR RÉVERSIBLE"
  ></app-section>
</section>