<section class="bloc h-full w-full">
  <div class="bloc h-full w-full pt-20">
    <app-article
      title="Bornes de recharges : donnez une
      autre dimension à votre entreprise"
      content="En tant que professionnels, l’installation de borne de
      recharge représente plusieurs avantages :
      Vous offrez à vos collaborateurs un service a forte
      valeur ajoutée
      Vous augmentez ainsi la fréquentation de votre
      enseigne
      Vous augmentez vos revenus (rentabilité au bout de 3
      ans)
      Vous devenez une entreprise éco-engagée
      Vous améliorez votre image de marque
      Vous bénéficiez d’aides financières comme le
      programme ADVENIR.
      En tant que professionnels certifiés IRVE, nous installons
      différents types de bornes aves des temps de charges qui
      varient en fonction des besoins."
      textBtn="JE SOUHAITE FAIRE INSTALLER DES BORNES"
      image="assets/irve.webp"
    ></app-article>
  </div>
  <app-section
    title="Bornes de recharges : dites oui à
    l’énergie gratuite !"
    content="Voiture électrique, scooter électrique, trottinette électrique,
    vélo électrique, nombreuses sont les formes que prennent
    les nouveaux véhicules. Pour recharger leur batterie, les
    pompes à essence, faciles à trouver sur votre itinéraire, ne
    pourront rien pour vous.
    Il est possible de recharger une voiture électrique :
    À son domicile
    Dans le parking d’une copropriété
    Sur votre lieu de travail
    Sur une borne de recharge publique
    Nos experts IRVE propose tous types d’installation
    (Wallbow, Evbox, Blitz) pour répondre aux besoins de tout
    un chacun (particuliers comme professionnels) et répandre
    l’utilisation des véhicules électriques."
    textBtn="EN SAVOIR +"
    image="assets/recharge.webp"
  ></app-section>
</section>