<section class="bloc h-full w-full">
  <div class="pt-20"></div>
  <app-section
    title="CALORIFUGEAGE : FAIRE DES ÉCONOMIES À MOINDRE COÛT !"
    content="Le calorifugeage est une technique peu coûteuse consistant à isoler la
    tuyauterie. Quand l'eau chaude circule dans les différents réseaux, son passage
    dans les tuyaux refroidit l'eau. Une tuyauterie mal isolée consomme donc
    beaucoup plus en énergie et se répercute forcément sur les factures de
    chauffage.
    Le calorifugeage apporte plusieurs avantages, notamment :
    la maîtrise des températures : cette isolation des tuyaux protège votre
    installation contre les températures ambiantes et permet de conserver la
    chaleur (ou le froid dans le cas d’une installation de froid) dans les réseaux.
    les économies d’énergie : le calorifugeage permet de réduire voire même
    supprimer les déperditions thermiques du réseau de tuyaux ce qui réduit
    votre consommation énergétique et donc vos dépenses.
    Le calorifugeage est réalisé avec des coquilles de fibres minérales, ou des
    bandes de fibres minérales ou encore des manchons de mousse en plastique.
    L’efficacité de l’isolation de vos canalisations dépend de plusieurs éléments :
    Le diamètre extérieur du tube, l’épaisseur de l’isolant, la conductivité thermique :
    plus elle est faible, plus le matériau est isolant."
    textBtn="JE DEMANDE UN DEVIS"
    image="assets/calor.webp"
  ></app-section>
  <app-article
    title="ISOLATION DES COMBLES PERDUS"
    content="L’isolation des combles est le type de travaux de rénovation
    énergétique à prioriser. Cela permet de faire jusqu'à 30%
    d’économies d’énergie pour un coût de travaux abordable.
    Isoler des combles permet de réduire jusqu'à 30% la facture de
    chauffage : une économie considérable ! Face à cela, le coût des
    travaux est relativement abordable aux vues des économies
    réalisées.
    Comptez entre 20 et 70 € / m², pose comprise pour faire isoler cette
    partie de votre maison. De plus, vous pouvez réduire ce coût grâce
    aux nombreuses aides de la rénovation énergétique. L'isolation des
    combles est donc une solution très économique et rapidement
    rentable, entre 5 et 6 ans.
    Les combles perdus sont inhabitables en l’état et cela est souvent dû
    à une hauteur sous plafond insuffisante et/ou une charpente trop
    encombrante. Pour ces types de combles, l’isolation est faite de
    manière différente de celle des combles aménagées, par soufflage
    de flocons d’isolants. Cette méthode est très efficace et rapide à
    appliquer."
    textBtn="JE SOUHAITE ISOLER MES COMBLES"
    image="assets/comble.webp"
  ></app-article>
  <app-section
    title="ISOLATION DES MURS PAR L’EXTERIEUR"
    content="L'isolation thermique des murs est un travaux de rénovation
    énergétique recommandé pour faire des économies chez soi et
    gagner en confort. Pour simplifier, un artisan va recouvrir les murs de
    votre maison (sur la surface intérieure ou extérieure) de matière
    isolante sous forme de panneaux rigides. Cela va permettre de
    supprimer les échanges d'air entre l'intérieur et l'extérieur de votre
    maison, et vous apporter de nombreux bénéfices.
    Confort : En limitant les échanges d'air, vous ne souffrez plus du
    froid l'hiver et plus de la chaleur l'été à l'intérieur de votre propre
    maison
    Isolation phonique : l’isolation des murs ne permet pas seulement
    de lutter contre les déperditions thermiques, mais agit aussi en
    tant qu'isolation phonique
    Valorisation de votre bien : Isoler votre bien lui fait gagner en
    performance énergétique, les logements les moins énergivores
    ont une valeure supérieure aux autres allant jusqu’à 12%
    Éco-responsabilité : l’isolation permet de moins utiliser les
    chauffages et par conséquent, réduire la production de gaz à
    effet de serre"
    textBtn="JE SOUHAITE UNE PROGRAMMER UNE
    VISITE À MON DOMICILE"
    image="assets/isolationext.webp"
  ></app-section>
  <app-article
    title="ISOLATION DES BAS PLANCHERS"
    content="L'isolation du plancher bas ou par le dessous consiste à poser des
    panneaux isolants sur le plafond du sous-sol ou en passant par le
    vide sanitaire. Cette méthode est la solution recommandée si le rezde-
    chaussée est situé au-dessus d'un local non chauffé comme une
    cave, un garage ou un vide sanitaire accessible.
    Dans le cadre d’un projet de rénovation, le plancher bas peut être
    isolé de deux manières :
    Lorsque le vide sanitaire est accessible ou que le sol se situe audessus
    de locaux non chauffés : il est envisageable d’isoler par le
    dessous.
    Lorsque le terre-plein ou le vide sanitaire sont inaccessibles :
    optez pour l’isolation par le dessus ;
    La mise en oeuvre de l’isolation par le dessous, directement sur la
    face inférieure du plancher bas, est assez simple. Elle ne nécessite
    pas de remplacer la finition du plancher en place. Le procédé
    consiste à fixer mécaniquement l’isolant sur la face intérieure du
    plancher. Un isolant hydrophobe est nécessaire en vide sanitaire.
    Le choix de l'isolant doit correspondre aux caractéristiques de votre
    logement et aux usages validés de l’isolant thermiques et nos
    experts vous conseille en ce sens."
    textBtn="JE SOUHAITE OBTENIR UN DEVIS
    PERSONNALISÉ"
    image="assets/basplancher.webp"
  ></app-article>
</section>