<section class="h-[100vh]">
  <img src="assets/logo ges.png" alt="" class="absolute w-48 left-8">
  <section class="bg-[#64cb00] lg:flex justify-center w-full hidden fixed z-20">
    <div
      class="flex gap-4 text-white font-medium h-8 items-center w-full text-lg cursor-pointer justify-center"
    >
      <div
        class="flex items-center hover:text-black active:text-black"
        routerLink=""
      >
        ACCUEIL
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black" routerLink="photovoltaique">
        PHOTOVOLTAÏQUE
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black">
        BORNE DE RECHARGE
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black" routerLink="chauffage-ecs">
        CLIM & CHAUFFAGE
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black">
        ISOLATION
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black">
        VENTILATION
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black">
        AIDES
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black">
        CONTACT
      </div>
    </div>
  </section>
  <section class="bg-[#64cb00] lg:hidden flex w-full justify-center fixed z-20">
    <div
      class="flex gap-4 text-white font-medium h-8 items-center w-full text-lg cursor-pointer justify-end mr-4"
    >
    <!-- Bouton pour ouvrir/fermer le menu -->
  <button id="burger-btn" class="text-white p-2 focus:outline-none">
    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>

  <!-- Contenu du menu burger -->
  <div id="burger-menu" class="hidden fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-90 z-10">
    <div class="flex justify-end p-4">
      <!-- Bouton pour fermer le menu -->
      <button id="close-btn" class="text-white p-2 focus:outline-none hover:text-[#64cb00]">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <!-- Options du menu burger -->
    <div class="flex flex-col items-center">
      <div class="text-white hover:text-[#64cb00] py-2" routerLink="" (click)="closeBurgerMenu()">
        ACCUEIL
      </div>
      <div class="text-white hover:text-[#64cb00]  active:text-black py-2" routerLink="photovoltaique">
        PHOTOVOLTAÏQUE
      </div>
      <div class="text-white hover:text-[#64cb00]  active:text-black py-2" (click)="closeBurgerMenu()">
        BORNE DE RECHARGE
      </div>
      <div class="text-white hover:text-[#64cb00]  active:text-black py-2" routerLink="chauffage-ecs">
        CLIM & CHAUFFAGE
      </div>
      <div class="text-white hover:text-[#64cb00]  active:text-black py-2" (click)="closeBurgerMenu()">
        ISOLATION
      </div>
      <div class="text-white hover:text-[#64cb00]  active:text-black py-2" (click)="closeBurgerMenu()">
        VENTILATION
      </div>
      <div class="text-white hover:text-[#64cb00]  active:text-black py-2" (click)="closeBurgerMenu()">
        AIDES
      </div>
      <div class="text-white hover:text-[#64cb00]  active:text-black py-2" (click)="closeBurgerMenu()">
        CONTACT
      </div>
    </div>
  </div>
  </div>
  </section>
  <div>
    <router-outlet></router-outlet>
  </div>
</section>
