<section class="h-[100vh]">
  <img src="assets/logo-ges.webp" alt="" class="absolute w-60 right-0 top-0 bottom-0 mb-auto z-10">
  <section class="bg-[#4c7d3f] lg:flex justify-center w-full hidden fixed z-20">
    <div
      class="flex gap-4 text-white font-medium h-8 items-center w-full text-lg cursor-pointer justify-center"
    >
      <div
        class="flex items-center hover:text-black active:text-black"
        [routerLink]="['']" fragment="accueil"
      >
        ACCUEIL
      </div>
      |
      <div class="relative">
        <button type="button" (click)="toggleDropdownSolutions()" class="inline-flex items-center gap-x-1 text-lg leading-6 uppercase font-medium hover:text-black active:text-black" aria-expanded="false">
          <span>Nos solutions</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
          </svg>
        </button>
        <div class="absolute left-1/2 z-10 mt-5 flex w-screen max-w-max -translate-x-1/2 px-4">
          <div class="w-screen max-w-sm flex-auto rounded-3xl bg-white p-4 text-sm leading-6 shadow-lg ring-1 ring-gray-900/5 transition ease-out duration-200" [@flyInOut] *ngIf="dropdownOpenSolutions">
            <div *ngFor="let solution of solutions" class="relative rounded-lg p-4" routerLink="{{solution.link}}" (click)="closeDropdownSolutions()">
              <div class="hover:text-[#4c7d3f] text-base font-semibold text-gray-900">
                {{ solution.title }}
                <span class="absolute inset-0"></span>
              </div>
              <p class="mt-1 text-gray-600">
                {{ solution.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
      |
      <div class="relative">
        <button type="button" (click)="toggleDropdown()" class="inline-flex items-center gap-x-1 text-lg leading-6 uppercase font-medium hover:text-black active:text-black" aria-expanded="false">
          <span>Nos métiers</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
          </svg>
        </button>
        <div class="absolute left-1/2 z-10 mt-5 flex w-screen max-w-max -translate-x-1/2 px-4">
          <div class="w-screen max-w-sm flex-auto rounded-3xl bg-white p-4 text-sm leading-6 shadow-lg ring-1 ring-gray-900/5 transition ease-out duration-200" [@flyInOut] *ngIf="dropdownOpen">
            <div *ngFor="let work of works" class="relative rounded-lg p-4" (click)="closeDropdown()" [routerLink]="['/metiers']" fragment="{{work.fragment}}">
              <div class="font-semibold text-gray-900 hover:text-[#4c7d3f] text-base">
                {{ work.title }}
                <span class="absolute inset-0"></span>
              </div>
              <p class="mt-1 text-gray-600">
                {{ work.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
      |
      <div [routerLink]="['']" fragment="realisation" class="flex items-center hover:text-black active:text-black">
        NOS REALISATIONS
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black" routerLink="aides">
        AIDES
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black" routerLink="professionnels">
        PRO
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black" routerLink="contact">
        CONTACT
      </div>
    </div>
  </section>
  <section class="bg-[#4c7d3f] lg:hidden flex w-full justify-center fixed z-20">
    <div
      class="flex gap-4 text-white font-medium h-8 items-center w-full text-lg cursor-pointer justify-end mr-4"
    >
    <!-- Bouton pour ouvrir/fermer le menu -->
  <button id="burger-btn" class="text-white p-2 focus:outline-none">
    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>

  <!-- Contenu du menu burger -->
  <div id="burger-menu" class="hidden fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-90 z-10">
    <div class="flex justify-end p-4">
      <!-- Bouton pour fermer le menu -->
      <button id="close-btn" class="text-white p-2 focus:outline-none hover:text-[#4c7d3f]">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <!-- Options du menu burger -->
    <div class="flex flex-col items-center">
      <div *ngFor="let options of burgerLinks">
        <div class="text-white hover:text-[#4c7d3f] py-2" (click)="closeBurgerMenu()" routerLink="{{options.link}}">
          {{ options.title }}
        </div>
      </div>
      <div class="text-white hover:text-[#4c7d3f]  active:text-black py-2" (click)="closeBurgerMenu()">
        <a href="https://www.codingcorp.fr/">Powered by Coding Corp</a>
      </div>
      <div class="text-white hover:text-[#4c7d3f]  active:text-black py-2" (click)="closeBurgerMenu()">
        ©Copyright 2024 Green Energy Solutions - Tous droits réservés
      </div>
    </div>
  </div>
  </div>
  </section>
  <div>
    <app-pop-up-cookies></app-pop-up-cookies>
    <router-outlet></router-outlet>
    <section class="bg-[#4c7d3f] lg:flex justify-center w-full  bottom-0 z-20 hidden">
      <div
      class="flex gap-4 text-white font-medium h-8 items-center w-full text-lg cursor-pointer justify-center"
    >
      <div
        class="flex items-center hover:text-black active:text-black text-sm"
        routerLink=""
      >
        ©Copyright 2024 Green Energy Solutions - Tous droits réservés
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black text-sm" routerLink="mentions">
        Mentions légales
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black text-sm" routerLink="cookies">
        Cookies
      </div>
      |
      <div class="flex items-center hover:text-black active:text-black text-sm">
        <a href="https://www.codingcorp.fr/">Powered by Coding Corp</a>
      </div>
    </div>
    </section>
  </div>
</section>
