<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-8xl md:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
      <div class="sm:px-6 lg:px-0 h-full flex self-center">
        <img src={{image}} alt="" class="object-contain">
      </div>
      <div class="px-4 md:px-0 lg:pr-4 lg:pt-4">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-2xl">
          <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{title}}</h2>
          <p class="mt-6 text-lg leading-8 text-gray-600 text-justify">
            {{content}}
          </p>
          <div class="pt-20 flex justify-center">
            <app-button height="60px" width="400px" buttonText={{textBtn}}></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>