<section class="bloc h-full w-full">
  <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center h-full">
      <p class="text-3xl font-semibold text-[#4c7d3f]">Génial ! </p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">
      Le formulaire a été transmis avec succès !
      </h1>
      <p class="mt-6 text-base leading-7 text-gray-600">
        Pour retourner à la page d'accueil, cliquer sur le bouton ci-dessous
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <div [routerLink]="['']" class="cursor-pointer rounded-md bg-[#4c7d3f] px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[#4c7d3f] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
        Accueil
      </div>
      </div>
    </div>
  </main>
</section>