<section class="bloc h-full w-full">
  <app-content
    title="Autoconsommation électrique : devenez indépendants !"
    intro="L’autoconsommation électrique c’est quoi au juste ?
    C’est tout simplement le fait de produire suffisamment d’électricité pour pouvoir couvrir vos besoins.
    Lorsque vous optez pour des panneaux solaires avec moyen de stockage vous pouvez atteindre 100% d’autoconsommation électrique contre 50%
    maximum sans moyen de stockage."
    content="Grâce aux panneaux solaires vous consommez immédiatement l’électricité verte, renouvelable et gratuite que vous produisez et, lorsque votre
    production énergétique est supérieure à vos besoins, le surplus est :
    Perdu si vous n’avez pas de système de stockage.
    Recueilli dans une batterie solaire (physique ou virtuelle) pour être consommé dans les moments de faible ensoleillement.
    Revendu à un fournisseur d’électricité verte si vous optez pour cette option.
    Vous réduisez grâce à votre production d’électricité verte la part d’électricité du réseau que vous consommez et vous réduisez donc
    automatiquement votre facture énergétique.
    Dans tous les cas, le courant du réseau prend le relais si votre production est inférieure à vos besoins.
    Quel que soit votre choix, autoconsommer son électricité sans stocker ou autoconsommer et stocker, nos experts en énergie verte vous conseillent
    sur les bonnes habitudes à adopter au quotidien et optimisent au maximum votre installation solaire afin de la rendre la plus productive possible."
    textBtn="J’OPTE POUR L’AUTOCONSOMMATION"
  ></app-content>
  <div class="bloc h-full w-full">
    <div class="bg-white py-16 sm:py-20">
      <div class="relative overflow-hidden pt-16 lg:pt-20">
        <div class="mx-auto px-6 lg:px-0">
          <img class="mb-[-12%] rounded-sm shadow-2xl ring-1 ring-gray-900/10" src="assets/pv2.png" alt="">
          <div class="relative" aria-hidden="true">
            <div class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white pt-[7%]"></div>
          </div>
        </div>
      </div>
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
          <div class="mt-10 flex max-w-xl grid-cols-1 gap-8 text-base leading-7 text-gray-700 lg:max-w-none lg:grid-cols-2">
            <div>
              <p>
                Les prix de l’électricité ne cessent d’augmenter. Ils ont connu une hausse de 50 % depuis
                2007* selon l’INSEE (Institut National de la Statistique et des Études économiques) et ils
                vont encore s’accroître de 50 % d’ici 2030* selon l’UFE (Union Française de l’Électricité).
              </p>
              <p class="mt-4">
                Chez Green Energy Solutions nous sommes une entreprise qualifiée RGE (Reconnu Garant de
                l’Environnement) basée à Lyon et spécialisée dans les énergies renouvelables. Nos installateurs
                prennent en charge la transformation de votre toiture en toit solaire.
              </p>
              <p class="mt-4">
                L’État met en place de nombreuses primes et aides en faveur du développement des énergies
                renouvelables et de la rénovation énergétique des logements vous permettant de produire de
                l’électricité gratuitement vous-même. Passez à l’énergie verte, contactez-nous pour
                installer une centrale solaire chez vous et profitez de tous ses avantages.
              </p>
            </div>
          </div>
          <div class="mt-10 flex justify-end">
            <app-button buttonText="JE PASSE AU VERT" height="55px" width="190px"></app-button>
          </div>
        </div>
      </div>
    </div>
    <app-content
      title="Panneaux solaires : en route vers l'indépendance électrique !"
      content="Véritable alternative aux énergies fossiles, l'énergie solaire est l'une des énergies
      renouvelable les moins chères.  L'Etat encourage la consommation responsable et le développement
      des énergies renouvelables dont la part dans le mix énergétique devra atteindre 32% en 2030.
      Green Energy Solutions est basé à Lyon et spécialisée dans les énergies renouvelables, confiez-nous
      votre installation, améliorez votre confort et faites de belles économies!"
      textBtn="Contactez-nous"
    ></app-content>

  </div>
</section>
