<section class="bloc h-full w-full">
  <div class="bloc h-full w-full">
    <div class="bg-white sm:py-">
      <div class="relative overflow-hidden">
        <div class="mx-auto lg:px-0">
          <!-- <p class="z-20 absolute m-auto">PHOTOVOLTAÏQUE</p> -->
          <img class="mb-[-12%] rounded-sm shadow-2xl ring-1 ring-gray-900/10 w-full" src="assets/pv2.webp" alt="">
          <div class="relative" aria-hidden="true">
            <div class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white pt-[7%]"></div>
          </div>
        </div>
      </div>
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
          <div class="mt-10 flex grid-cols-1 gap-8 text-lg leading-8 text-gray-600 text-justify lg:max-w-none lg:grid-cols-2">
            <div>
              <p class="an-1">
                Les prix de l’électricité ne cessent d’augmenter. Ils ont connu une hausse de 50 % depuis
                2007* selon l’INSEE (Institut National de la Statistique et des Études économiques) et ils
                vont encore s’accroître de 50 % d’ici 2030* selon l’UFE (Union Française de l’Électricité).
              </p>
              <p class="an-1 mt-4">
                Chez Green Energy Solutions nous sommes une entreprise qualifiée RGE (Reconnu Garant de
                l’Environnement) basée à Lyon et spécialisée dans les énergies renouvelables. Nos installateurs
                prennent en charge la transformation de votre toiture en toit solaire.
              </p>
              <p class="an-1 mt-4">
                L’État met en place de nombreuses primes et aides en faveur du développement des énergies
                renouvelables et de la rénovation énergétique des logements vous permettant de produire de
                l’électricité gratuitement vous-même. Passez à l’énergie verte, contactez-nous pour
                installer une centrale solaire chez vous et profitez de tous ses avantages.
              </p>
            </div>
          </div>
          <div class="mt-10 flex justify-end">
            <app-button buttonText="JE PASSE AU VERT" height="55px" width="190px" class="m-auto md:m-0"></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-content
    title="Autoconsommation électrique : devenez indépendants !"
    intro="L’autoconsommation électrique c’est quoi au juste ?
    C’est tout simplement le fait de produire suffisamment d’électricité pour pouvoir couvrir vos besoins.
    Lorsque vous optez pour des panneaux solaires avec moyen de stockage vous pouvez atteindre 100% d’autoconsommation électrique contre 50%
    maximum sans moyen de stockage."
    content="Grâce aux panneaux solaires vous consommez immédiatement l’électricité verte, renouvelable et gratuite que vous produisez et, lorsque votre
    production énergétique est supérieure à vos besoins, le surplus est :
    Perdu si vous n’avez pas de système de stockage.
    Recueilli dans une batterie solaire (physique ou virtuelle) pour être consommé dans les moments de faible ensoleillement.
    Revendu à un fournisseur d’électricité verte si vous optez pour cette option.
    Vous réduisez grâce à votre production d’électricité verte la part d’électricité du réseau que vous consommez et vous réduisez donc
    automatiquement votre facture énergétique.
    Dans tous les cas, le courant du réseau prend le relais si votre production est inférieure à vos besoins.
    Quel que soit votre choix, autoconsommer son électricité sans stocker ou autoconsommer et stocker, nos experts en énergie verte vous conseillent
    sur les bonnes habitudes à adopter au quotidien et optimisent au maximum votre installation solaire afin de la rendre la plus productive possible."
    textBtn="J’OPTE POUR L’AUTOCONSOMMATION"
  ></app-content>
  <div class="bg-white px-6 pt-24 sm:pt-32 lg:px-8">
    <div class="mx-auto max-w-5xl text-center xl:mt-0 mt-10">
      <h2 class="an-1 text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Panneaux solaires : en route vers l'indépendance électrique !
      </h2>
      <p class="an-1 mt-6 text-lg leading-8 text-gray-600 text-justify">
        Véritable alternative aux énergies fossiles, l'énergie solaire est l'une des énergies
        renouvelable les moins chères.  L'Etat encourage la consommation responsable et le développement
        des énergies renouvelables dont la part dans le mix énergétique devra atteindre 32% en 2030.
        Green Energy Solutions est basé à Lyon et spécialisée dans les énergies renouvelables, confiez-nous
        votre installation, améliorez votre confort et faites de belles économies!
      </p>
    </div>
  </div>
  <app-article
    title="Minimisez vos dépenses énergétiques grâce aux panneaux solaires !"
    content="Les panneaux solaires vous permettent de produire votre électricité
    verte et faire fonctionner vos appareils électriques et électroniques :
    ordinateurs, petits et gros électroménagers, chauffe-eau, pompe à
    chaleur, radiateurs etc.
    En optant pour un modèle de panneaux photovoltaïques hybrides, vous
    pouvez même utiliser cette énergie pour votre Eau Chaude Sanitaire.
    Votre facture électrique baisse dès le mois suivant la mise en service de
    vos panneaux solaires.
    L’avantage des panneaux solaires est que vous pouvez également en
    stocker le surplus dans une batterie de stockage virtuelle et utiliser
    cette énergie pendant la nuit pour la consommation passive de vos
    appareils ou les jours de faible ensoleillement."
    textBtn="JE SOUHAITE UNE ÉTUDE PERSONNALISÉE"
    image="assets/pv3.webp"
  ></app-article>
  <div class="overflow-hidden bg-white py-20 sm:py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg text-justify">
            <h2 class="an-1 mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
              Rentabiliser votre installation à court, moyen et long terme !
            </h2>
            <p class="an-1 mt-6 text-lg leading-7 text-gray-600">
              En optant pour les panneaux solaires :</p>
            <dl class="mt-10 max-w-xl space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dd class="an-1 inline">- Vous réalisez des économies d’énergie immédiates.</dd>
              </div>
              <div class="relative pl-9">
                <dd class="an-1 inline">
                  - Vous augmentez la valeur immobilière de votre bien : en optant pour les
                  panneaux solaires votre bien produit moins de gazs à effet de serre et
                  son DPE est amélioré. Un bien doté de panneaux solaires a une valeur de
                  9 à 12 % supérieure à celle d’un bien classique.
                </dd>
              </div>
              <div class="relative pl-9">
                <dd class="an-1 inline">
                  - Un engagement concret et quotidien pour la préservation de
                  l'environnement : vous devenez éco-citoyen et ce sans effort de votre part.
                </dd>
              </div>
              <p class="an-1 mt-6 text-lg leading-8 text-gray-600">
                Les panneaux solaires ont une durée de vie de 30 et 40 ans. Au-delà de 3 ans, le bilan carbone
                de vos panneaux solaires est ramené à 0, c’est à dire qu’en plus d’être rentable, ils sont
                une aubaine pour la Planète !
              </p>
            </dl>
          </div>
        </div>
        <img src="assets/stonks.webp" alt="Product screenshot" class="w-full object-contain mt-20 max-w-none sm:w-[57rem] md:-ml-4 lg:-ml-0 h-[35rem]">
      </div>
    </div>
  </div>
  <div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg text-justify">
            <h2 class="an-1 mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
              Rechauffez votre eau chaude grâce au soleil !
            </h2>
            <p class="an-1 mt-6 text-lg leading-7 text-gray-600">
              <span class="font-black">Cette solution deux en un aussi écologique qu’efficace :</span>
              Les panneaux solaires hybrides sont dotés de capteurs thermiques en
              plus des capteurs photovoltaïques. Les cellules photovoltaïques
              récupèrent le rayonnement solaire pour le transformer en électricité et
              les cellules thermiques récupèrent la chaleur émise par le soleil à l’aide
              d’un fluide caloporteur injecté par un échangeur, ou grâce à un
              collecteur d’air chaud.
            </p>
            <dl class="mt-6 max-w-xl space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
              <p class="an-1 mt-6 text-lg leading-8 text-gray-600">
                Grâce à ce type de panneaux solaires vous pouvez produire votre
                électricité verte et faire fonctionner vos appareils électriques et
                électroniques mais aussi faire chauffer votre eau sanitaire.
                une belle réduction sur la facture en perspective !
              </p>
              <!-- <p class="mt-6 text-lg leading-8 text-gray-600">
                Il existe toutefois des conditions à respecter pour profiter pleinement de
                vos panneaux :
              </p>
              <ul class="mt-6 text-lg leading-8 text-gray-600">
                <li class="list-disc">votre toit doit être orienté vers le Sud</li>
                <li class="list-disc">votre toiture bénéficie d’une inclinaison de 30°</li>
                <li class="list-disc">votre toit ne se trouve pas dans une zone ombragée (arbre,
                  immeuble, voisin, conduit de cheminée…).</li>
              </ul> -->
            </dl>
          </div>
        </div>
        <img src="assets/house.webp" alt="Product screenshot" class="w-full object-fill mt-5 max-w-none md:-ml-4 lg:-ml-0 h-full rounded-tr-[10rem] fade-in">
      </div>
    </div>
  </div>
  <!-- Stats section -->
  <section class="h-auto mt-10">
    <div class="bg-gray-400/5 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="text-center">
          <h2 class="an-1 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            Faire appel à Green Energy Solutions c’est avant tout :
          </h2>
        </div>
        <dl class="cursor-pointer mt-16 grid grid-cols-1 gap-2 overflow-hidden rounded-3xl text-center sm:grid-cols-2 lg:grid-cols-4">
          <div class="flex flex-col bg-white p-8 hover:scale-110">
            <dt class="an-1 text-sm font-semibold leading-6 text-gray-600">
              Une prise en charge de votre projet dans sa globalité
            </dt>
            <img class="order-first h-40 w-40 m-auto text-gray-900 object-contain"
            src="assets/5.webp"/>
          </div>
          <div class="flex flex-col bg-white p-8 hover:scale-110">
            <dt class="an-1 text-sm font-semibold leading-6 text-gray-600">
              Des marques de qualités telles que : DAIKIN, ATLANTIC...
            </dt>
            <img src="assets/6.webp" class="order-first text-gray-900 h-40 w-40 m-auto object-contain fade-in"/>
          </div>
          <div class="flex flex-col bg-white p-8 hover:scale-110">
            <dt class="an-1 text-sm font-semibold leading-6 text-gray-600">
              Des installateurs expérimentés avec +10 ans d’expérience
            </dt>
            <img src="assets/7.webp" class="order-first h-40 w-40 m-auto text-gray-900 object-contain fade-in"/>
          </div>
          <div class="flex flex-col bg-white p-8 hover:scale-110">
            <dt class="an-1 text-sm font-semibold leading-6 text-gray-600">
              Un SAV disponible 6 jours sur 7 au 04.78.70.0.74
            </dt>
            <img src="assets/8.webp" class="order-first h-40 w-40 m-auto text-gray-900 object-contain fade-in"/>
          </div>
        </dl>
      </div>
    </div>
  </div>
  </section>
  <app-section
    title="Carport solaire : pour vos voitures mais pas que !"
    content="Le carport solaire avec borne de recharge est un moyen pratique, efficace et
    économique pour recharger vos véhicules, moto, scooter et/ou vélo
    électrique sans payer les kWh électriques grâce à l’énergie la moins chère
    du monde.
    Mais le carport peut aussi être utilisé pour produire de l’électricité verte qui
    vous sert au quotidien (tondeuse à gazon, aspirateur...) ou lorsque vous ne
    souhaitez pas faire installer de panneaux sur votre toiture par exemple !
    Vous pouvez également opter pour le carport en extension des panneaux
    photovoltaïques sur votre toiture afin de produire, stocker et/ou revendre
    d’avantage d’électricité verte.
    Vous l’aurez compris, le carport solaire, bien qu’installer le plus souvent pour
    recharger son véhicule électrique, peut etre mis à profit de différentes
    façons."
    image="assets/carport.webp"
    textBtn="JE VEUX FAIRE INSTALLER UN CARPORT SOLAIRE"
  ></app-section>
  <div class="bg-white px-6 pt-24 sm:pt-20 lg:px-8">
    <div class="mx-auto max-w-5xl text-center xl:mt-0 mt-10">
      <h2 class="an-1 text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Quels sont les avantages de la revente d’énergie :
      </h2>
      <p class="an-1 mt-6 text-lg leading-7 text-gray-600 text-justify">
        Avec la revente de l’électricité solaire des kw que vous avez autoproduits, vous allez :
      </p>
      <ul class="mt-6 text-lg leading-7 text-gray-600 text-justify pl-12">
        <li class="an-1 list-disc mt-4">Couvrir vos besoins énergétiques et électriques immédiats</li>
        <li class="an-1 list-disc mt-4">Fonctionner en autoconsommation partielle et réduire nettement votre facture
          mensuelle électrique
        </li>
        <li class="an-1 list-disc mt-4">
          Générer des revenus complémentaires qui permettront d’accélérer la rentabilité de
          votre investissement de départ
        </li>
        <li class="an-1 list-disc mt-4">
          Alimenter en énergie verte votre voisinage et les foyers à proximité et devenir à votre
          tour producteur-fournisseur d’énergie verte. Le raccordement de votre centrale de
          production est effectué pour permettre d’injecter votre surplus non utilisé. Une action
          concrète et quotidienne qui fait de vous plus qu’un écocitoyen, un consomm’acteur :
          vous agissez concrètement pour la transition écologique et la transition énergétique
          des logements français !
        </li>
      </ul>
      <p class="an-1 mt-6 text-lg leading-7 text-gray-600 text-justify">
        La revente d’électricité produite est ouverte aussi bien aux particuliers qu’aux entreprises
        alors si vous avez un bâtiment agricole, une ferme, un entrepôt de stockage ou encore
        un parking c’est le moment de les transformer en bâtiment photovoltaïque ou de faire
        installer un <span class="font-black">carport solaire</span> par nos experts 🌿
      </p>
    </div>
  </div>
  <div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-6xl px-6 lg:px-4">
      <div class="mx-auto max-w-3xl gap-x-8 gap-y-16 sm:gap-y-10 lg:mx-0 lg:max-w-none">
        <div class="lg:pr-4 lg:pt-4">
          <div class="text-justify">
            <h2 class="an-1 mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
              Revendre son énergie verte, c’est désormais possible !
            </h2>
            <p class="an-1 mt-6 text-lg leading-8 text-gray-600">
              En faisant installer une centrale photovoltaïque domestique vous pouvez générez des
              revenus en choisissant entre deux régimes :
            </p>
            <ul class="mt-6 text-lg leading-8 text-gray-600 pl-12">
              <li class="an-1 list-disc">
                Autoconsommation partielle avec revente de surplus : vous consommez une partie de
                la production des panneaux solaires pour satisfaire vos propres besoins et vous
                réinjectez le surplus dans le réseau d’électricité public. Vous percevrez une prime
                d’autoconsommation versée durant 5 ans et votre fournisseur d’électricité rachètera
                votre surplus d’électricité verte sous contrat de 20 ans à un tarif fixe.
              </li>
              <li class="an-1 list-disc mt-6">
                Revente totale : vous revendez sous-contrat pendant 20 ans TOUTE votre énergie
                photovoltaïque à votre fournisseur d’électricité et vous achetez le courant électrique
                nécessaire à l’alimentation de vos appareils au tarif en vigueur auprès du fournisseur
                d’énergie de votre choix comme tout le monde. Le tarif de rachat est toujours supérieur
                au prix de l’électricité publique donc vous restez gagnant.
              </li>
            </ul>
            <dl class="mt-6  space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
              <p class="an-1 mt-6 text-lg leading-8 text-gray-600">
                Dans le cas des bâtiments photovoltaïques (ferme solaire, entrepôt solaire …), vous pouvez
                financer l’installation de vos panneaux solaires en louant votre toit à un investisseur, à un
                opérateur d’électricité ou vous pouvez prévoir d'investir vous-même et de profiter de toute
                cette grande surface photovoltaïque pour générer d'importants revenus grâce à la revente
                totale des kWh produits.
              </p>
              <p class="an-1 mt-6 text-lg leading-8 text-gray-600">
                Nos experts GES réalisent un diagnostic énergétique de votre bâti et déterminent quels
                panneaux choisir pour répondre à vos besoins réels.
                L’emplacement, la configuration et l’orientation sont également étudiés afin de garantir
                un rendement optimal de vos panneaux solaires.
              </p>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-article
    title="Qui rachète votre énergie verte ?"
    content="La revente d’électricité se fait auprès de deux d’entités.
    EDF en tant que fournisseur historique et opérateur de service public, c’est vers lui que
    la plupart des foyers français se tournent pour la revente d’électricité issue de l’énergie
    solaire. Un contrat d’obligation d’achat (OA) est signé entre les 2 parties. Une mission
    qu’EDF assure depuis le début.

    Les entreprises locales de distribution (ELD) : Il s’agit de tous les autres opérateurs
    électriques qui s’engagent sur une voie verte, celles de la vente des énergies
    renouvelables pour alimenter les foyers.
    En voici quelques exemples: Enercoop, EkWateur, Planète Oui, Ilek...
    En tant que particulier ou professionnels vous êtes libres de choisir avec qui vous voulez
    souscrire un contrat d’obligation d’achat."
    image="assets/city.webp"
    textBtn="JE PASSE AU VERT AVEC GREEN ENERGY SOLUTIONS"
  ></app-article>
  <div class="overflow-hidden bg-white py-16 sm:py-0 sm:pb-10">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h2 class="an-1 mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Optimiser votre électricité verte grâce au stockage physique ou virtuel
      </h2>
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <img src="assets/12.webp" alt="Product screenshot" class="w-[35rem] object-contain mt-20 sm:w-[57rem] md:-ml-4 lg:-ml-0 h-[40rem]" width="2432" height="642">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-2xl text-justify">
            <p class="an-1 mt-6 text-lg leading-7 text-gray-600">
              Stocker l’énergie solaire produite par vos installations est le moyen le plus optimal de faire
              des économies, en effet cela vous permet :
            </p>
            <dl class="mt-6 max-w-xl space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
              <ul class="mt-6 text-lg leading-8 text-gray-600 pl-12">
                <li class="an-1 list-disc mt-6">
                  D’utiliser 100% de votre production d’électricité verte même si vous n’utilisez
                  pas immédiatement le courant électrique produit (pour les jours moins
                  ensoleillés ou la soirée par exemple).
                </li>
                <li class="an-1 list-disc mt-6">
                  De diminuer le montant de vos factures électriques si votre installation
                  solaire domestique est optimisée.
                </li>
                <li class="an-1 list-disc mt-6">
                  De ne plus être impacté par les hausses des tarifs de l’électricité.
                </li>
                <li class="an-1 list-disc mt-6">
                  D'augmenter votre taux d’autoconsommation photovoltaïque, consommer
                  moins d’électricité du réseau et baisser vos dépenses énergétiques.
                </li>
              </ul>
            </dl>
            <p class="an-1 mt-6 text-lg leading-8 text-gray-600">
              Il existe deux types de batteries de stockage, physique ou virtuelle.
              Le schéma ci-après vous montre le fonctionnement des batteries dites
              physiques.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overflow-hidden bg-white py-24 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none">
        <!-- <img src="assets/12.webp" alt="Product screenshot" class="w-[35rem] object-contain mt-20 sm:w-[57rem] md:-ml-4 lg:-ml-0 h-[40rem]" width="2432" height="642"> -->
        <div class="lg:pr-8 lg:pt-4">
          <div class="text-justify">
            <div class="flex gap-4">
              <img src="assets/batterie 2.webp" alt="" class="w-80 h-64 hidden md:flex rounded-tl-[10rem] fade-in">
              <div class="an-1 mt-6 text-lg leading-7 text-gray-600">
                Les batteries de stockage solaires virtuelles fonctionnent par système
                d’abonnement (1€/mois/kWC sans engagement de durée).
                <p class="an-1 mt-6 text-lg leading-7 text-gray-600">
                  Votre surplus électrique est comptabilisé et injecté dans le réseau pour satisfaire
                  les besoins immédiats d’autres consommateurs à proximité. Lorsque vous en
                  avez besoin, ce surplus vous sera restitué sous forme d’avoir.
                </p>
              </div>
            </div>
            <p class="an-1 mt-6 text-lg leading-7 text-gray-600">
              Ce système de stockage virtuel est très optimal :
            </p>
            <dl class="mt-6 max-w-xl space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
              <ul class="mt-6 text-lg leading-8 text-gray-600 pl-12">
                <li class="an-1 list-disc mt-6">
                  Il offre une capacité de stockage de l’énergie solaire illimitée : capacité
                  d’autoconsommation électrique élevée donc plus d’économies d’énergie.
                </li>
                <li class="an-1 list-disc mt-6">
                  Il assure zéro délai de stockage de l’énergie solaire : vous pouvez consommer
                  votre surplus de la journée, du mois, du trimestre, de l’année, quand vous en
                  avez besoin et sans attendre, les kWh sont disponibles immédiatement.
                </li>
                <li class="an-1 list-disc mt-6">
                  Il garantit aucune modification au niveau de l’installation avec cette solution
                  de stockage virtuel. Vous savez exactement combien vous avez injecté sur le «
                  cloud » grâce un boitier de monitoring dédié installé par nos experts.
                </li>
                <li class="an-1 list-disc mt-6">
                  Il a une durée de vie illimitée contrairement à la batterie physique et ne
                  demande aucun entretien puisque tout est virtuel.
                </li>
              </ul>
            </dl>
            <p class="mt-6 text-lg leading-8 text-gray-600 justify-center flex">
              <app-button buttonText="JE ME RENSEIGNE SUR LE TYPE DE BATTERIE
              ADÉQUATE À MON INSTALLATION" width="520px"></app-button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- SAV Section -->
<div class="overflow-hidden bg-white py-16 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="an-1 mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl justify-center flex">
      SAV Photovoltaïque
    </h2>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="bloc mx-auto">
        <img src="assets/sav.webp" alt="Product screenshot" class="fade-in md:rounded-tl-[10rem] w-full object-fill md:-ml-4 lg:-ml-0 mt-16">
        <app-button buttonText="JE CONTACT LE SAV" width="300px" class="flex justify-center mt-12"></app-button>
      </div>
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-2xl text-justify">
          <p class="an-1 mt-6 text-lg leading-7 text-gray-600">
            Avec GES, vous n’êtes pas livrés à vous même une fois la mise en service
            de vos panneaux effectuée.
            Le suivi continue après l’installation de vos panneaux solaires !
            Nous avons une équipe dédiée spécialement au Service Après Vente afin
            de vous assurer une intervention rapide.
          </p>
          <dl class="mt-6 max-w-xl space-y-8 text-lg leading-7 text-gray-600 lg:max-w-none">
            <ul class="mt-6 text-lg leading-8 text-gray-600 pl-12">
              <li class="an-1 list-disc mt-6">
                <span class="uppercase font-black">DIAGNOSTIC :</span> audit de l’installation solaire, contrôle des voyants,
                recherche de la panne
              </li>
              <li class="an-1 list-disc mt-6">
                <span class="uppercase font-black">RÉPARATION :</span> coffret DC (courant continu), coffret AC courant
                alternatif, raccordement direct aux panneaux photovoltaïques, parefeu,
                boîtier injection réseau
              </li>
              <li class="an-1 list-disc mt-6">
                <span class="uppercase font-black">ÉTANCHÉITÉ DE L’INSTALLATION :</span> problème d’infiltration, isolation
                des câbles, cellules photovoltaïques cassées suite à des aléas
                climatiques
              </li>
              <li class="an-1 list-disc mt-6">
                <span class="uppercase font-black">REMPLACEMENT DES PIÈCES :</span> panneaux solaires photovoltaïques au
                silicium monocristallin ou polycristallin, cellules photovoltaïques,
                onduleur central, micro-onduleur, câbles solaires, régulateur de
                tension, etc.
              </li>
              <li class="an-1 list-disc mt-6">
                <span class="uppercase font-black">CONTRÔLE DE LA PRODUCTION :</span> contrôle du monitoring et du
                boîtier d’injection au réseau public, contrôle de la puissance crête,
                contrôle de la puissance en temps réel.
              </li>
            </ul>
          </dl>
          <!-- <p class="mt-6 text-lg leading-8 text-gray-600">
            Nous récupérons les pièces endommagées et cassées et nous assurons
            qu’elles rejoignent ensuite la filière recyclage.
          </p> -->
        </div>
      </div>
    </div>
  </div>
</div>
</section>
