<section class="bloc w-full h-full">
  <div class="flex h-1/2 justify-between w-[80%] m-auto">
    <p class="border rounded-full h-10 w-44 justify-center flex items-center uppercase">Particuliers</p>
    <p class="border rounded-full h-10 w-44 justify-center flex items-center uppercase">Professionnels</p>
  </div>
  <div class="bloc w-2/3 justify-center m-auto h-1/2">
    <h2 class="font-bold">VOTRE EXPERT EN ÉNERGIES RENOUVELABLES</h2>
    <p class="text-justify justify-center">
      Green Energy Solutions, c’est une entreprise qualifiée composée d’experts
      en énergies renouvelables. De l’étude de votre projet à la maintenance en
      passant par l’installation, nous vous proposons des solutions clés-en-main
      pour améliorer votre confort en préservant la planète et en réduisant vos
      factures de manière nette !
    </p>
    <div class="lg:flex grid grid-cols-2 gap-2 w-full justify-between h-full object-fill m-auto">
      <img src="assets/qualiPac.png" alt="" class="object-fill w-36 h-36">
      <img src="assets/qualiPV.jpeg" alt="" class="object-fill w-48 h-48">
      <img src="assets/qualiSol.png" alt="" class="object-fill w-36 h-36">
      <img src="assets/qualitEnR.jpeg" alt="" class="object-fill w-36 h-36">
    </div>
    <app-button width="500px"></app-button>
  </div>
</section>
