<div class="overflow-hidden bg-white py-16 md:py-24">
  <div class="mx-auto max-w-xl lg:max-w-7xl md:px-6 lg:px-8">
    <h2 class="an-1 px-6 mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl flex justify-center">{{title}}</h2>
    <div class="grid grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2 lg:items-start">
      <div class="sm:px-6 lg:px-0 flex self-center h-full">
        <img src={{image}} alt="" class="object-fill md:rounded-tl-[10rem] w-full h-[85%] m-auto fade-in">
      </div>
      <div class="px-4 md:px-0 lg:pr-4 lg:pt-4">
        <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-2xl">
          <p class="an-1 mt-6 text-lg leading-8 text-gray-600 text-justify">
            {{content}}
          </p>
          <div class="pt-10 flex justify-center">
            <app-button height="60px" width="400px" buttonText={{textBtn}}></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>